html{
    background-color: snow;
	scroll-behavior: smooth;
}
.stephen{ 
    font-size: 65px;
    font-family: 'PT serif Sans', serif;
    font-weight: 500; 
    margin-top: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: vw;
}
.menu{
	text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column1 {
  flex: 30%;
  padding-right: 10px;
	display: flex;
  flex-shrink: 0;
}

.column2 {
  	flex: 68%;
  	padding: 5px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    padding-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
    color: darkslategrey;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	
/*
	justify-content: center;
  	align-items: center;
*/

}
.beach{
	overflow: hidden;
    object-fit: cover;
/*
    width: px;
    height: 850px;
*/
/*	object-position: 0px -200px;*/
/*	height: 1005px;*/
	height: 1010;
/*    margin: -20px;*/
	margin-left: -8px;
	margin-top: -8px;
	position: fixed;
	display: flex;
}

img beach{
	object-fit: contain;
	width: 100%;
}

.socials{
    color: #aaaaaa ;
    transition: 0.2s;
    font-size: 28px;
    text-decoration: none; 
    padding-right: 13px;
    padding-top: 10px;
}

.social{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.socials:hover{
    color: #000000;
}

.navbar a {
  display: inline-block;
  position: relative;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  text-decoration: none; 
  float: right; 
  padding: 10px 10px;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
	background-color: lightgray;
}


.crown{
	background-color: transparent; 
	text-decoration: none; 
	display: block;
	object-position: 0px 0px;
	font-size: 10px; 
	height: 100px; 
	filter: invert(50%);
	padding-top: 200px;
	object-fit: contain;
}
hr {
	float: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	display: block; 
	border-width: 1px; 
	border-color: white; 
}
.aboutmehead {
/*	text-align: center; */
	padding-top: 50px; 
	font-family: 'PT serif', sans-serif;
    font-weight: 100;
	font-size: 30px;
    color: darkslategrey;
	display: block;
	margin-left: auto;
  	margin-right: auto; 
}
.aboutmebody{
	font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
	text-align: left;
	padding-top: 20px; 
	color: black;
	line-height: 1.5; 
	font-size: 20px;
	margin-left: auto;
  	margin-right: auto; 
	display: block;
    
}

.skills{
	margin-left: auto;
  	margin-right: auto;
	width: 62vw;
	display: block;
	padding-bottom: 30px; 
}

.experiencehead{
	padding-top: 20px; 
	 font-family: 'PT serif', sans-serif;
    font-weight: 100;
	font-size: 30px;
    color: darkslategrey;
	padding-bottom: 20px;
	margin-left: auto;
  	margin-right: auto;
	display: block;
	 
}
.experience{
	display: block;
	margin-left: auto;
  	margin-right: auto; 
/*	width = "50%"*/
	width: 62vw;
}
.hr1{
	float: center;
	width: 50%;
	margin-left: auto;
  	margin-right: auto; 
	border-width: 1px; 
	border-color: white; 
}
.projects {
	text-align: center;  
	 font-family: 'PT serif', sans-serif;
    font-weight: 100;
	font-size: 30px;
    color: darkslategrey;
	padding-bottom: 20px;
	margin-left: auto;
  	margin-right: auto;
}
.ProjectPic{
  width: 50%;
}
.ProjectPic2{
  
  width: 49.7%;
}

.projectBody1{
	font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
	text-align: left;
	 
	color: black;
	line-height: 1.5; 
	object-position: right;
	display: block;
}
.projectHead1{
	font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
	font-size: 20px;
	text-align: left;
	
	color: black;
	line-height: 1.5; 
	margin-left: auto;
  	margin-right: auto; 
	display: block;
}
@media only screen and (max-width: 1000px) {
	.column1 {
		flex: none;
	}
   
	.aboutmebody{
		font-size: 18px;
	}
	.experience{
		width: 100%
	}
	.skills{
		width: 100%
	}
}
@media only screen and (max-width: 800px) {
	.stephen{
		font-size: 50px;
	}
	.title{
		font-size: 15px;
	}
}
@media only screen and (max-width:1015px) {
	.beach {
      display:none;
    }
}


